<!--検索窓-->
<div class="container">
  <div class="text-center">
    <%= render "searches/search_form" %>
  </div>
</div>

<div class="container">
  <div class="row">

    <%= render 'layouts/list', book: Book.new, user: @user %>

    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>

      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>

          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %></td>
	  	  	    <td><%= user.name %></td>
	  	  	    <td>フォロー数:<%= user.followings.count %></td>
	  	  	    <td>フォロワー数:<%= user.followers.count %></td>
	  	  	    <td><%= render "relationships/follow_button", user: user %></td>
	  	  	    <td><%= link_to "Show", "/users/#{user.id}" %></td>
            </tr>
            <% end %>
          </tbody>
        </thead>
      </table>

    </div>

  </div>
</div>